<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056939777168-03g6vuvaer05018kjsc8pmij1ma5utgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056939777168-03g6vuvaer05018kjsc8pmij1ma5utgb</string>
	<key>API_KEY</key>
	<string>AIzaSyASNTCsDHkb9URIlyNolgYqoZYBhiNrpgs</string>
	<key>GCM_SENDER_ID</key>
	<string>1056939777168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kontroller</string>
	<key>PROJECT_ID</key>
	<string>skripsi-6f26d</string>
	<key>STORAGE_BUCKET</key>
	<string>skripsi-6f26d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056939777168:ios:5b3514213b7c85c58f4c15</string>
	<key>DATABASE_URL</key>
	<string>https://skripsi-6f26d-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>